@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", sans-serif;
}

.header h1{
  margin: 0 !important;
  padding: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0A192F;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #013f3c7f; 
  border-radius: 10px;
}


.skill-box {
  position: relative;
  border: 1px solid #2d6a4f; /* Matches your 'border-tertiary' color */
  padding: 12px 20px;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.skill-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s ease-out, opacity 0.6s ease;
  opacity: 0;
}

.skill-box:hover {
  background-color: rgba(45, 106, 79, 0.2); /* Light water-like background */
}

.skill-box:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.skill-box h1 {
  position: relative;
  z-index: 1;
}


